@font-face {
	// imported as $heading-font-family in base/_variables
  font-family: alegreya;
  src: url(../font/Alegreya-Regular.ttf);
}

@font-face {
	// imported as $base-font-family in base/_variables
  font-family: openSans;
  src: url(../font/OpenSans-Regular.ttf);
}