//  parallax
$parallax-window-height: 33em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.parallax-static-content {
    height: 33em;
    color: lighten($baseOffWhite, 20%);
    padding: 1em 0;
    position: relative;
    z-index: 9;
    text-align: center;
    font-size: 2.5em;
}

.parallax-background {
  background-position: center center;
  background-size: cover;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

#firstBG {
    height: 30em;
    .parallax-background {
        background: url("../img/background4.jpg");
    }
}

#secondBG {
    height: 30em;
    .parallax-background {
        background: url("../img/background11.jpg");
    }
}

.background-div {
    clear: both;
    width: 100%;
}

// Based on http://codepen.io/skeurentjes/

