@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "normalize";
@import "myVariables";
@import "mySkillSet";
@import "myParallax";

* {
    // border: 1px solid red;
}

body {
    background-color: $baseOffWhite;
}

header {
    background-color: $headerColor;
    margin-top: -1.5em;
    padding: 1em 0 1em 0;
    text-align: center;
    display: flex;
    height: $headerHeight;
    width: 100%;
    position: fixed;
    z-index: 9999;
    #header-container {
        width: 100%;
        height: $headerContainerHght;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-content: center;
        h1 {
            font-size: 2em;
            margin: auto 0 auto -1.5em;
            @include media($gtDesktop) {
                margin: auto 0 auto -7em;
            }
            .responsiveAdjust {
                margin-left: 0.75em;
            }
        }
        a:link {
            color: $white;
        }
        a:hover {
            background-color: darken($baseBlue, 15%);
        }
        a:active {
            background-color: lighten($baseBlue, 10%);
        }
        a:visited {
            color: darken($baseOffWhite, 15%);
        }
        nav {
            font-size: 1.25em;
            align-self: flex-end;
            padding-top: 0.25em;
            margin: auto -2.5em auto 0;
            display: flex;
            @include media($gtDesktop) {
                margin: auto -11em auto 0;
            }
            .navHeader {
                overflow: hidden;
            }
            ul {
                display: flex;
                &:first-child{
                    order: 1;
                }
                &:nth-child(2) {
                    order: 2;
                }
                &:nth-child(3) {
                    order: 3;
                }
                &:nth-child(4) {
                    order: 4;
                }
                &:nth-child(5) {
                    order: 5;
                }
            }
            li {
                float: right;
                margin-left: 0.25em;
                a {
                    display: inline-block;
                    text-align: center;
                    transition: 0.3s;
                }
            }
            li:not(.icon) {
                @include media($hiDefMobile) {
                    display: none;
                }
            }
            .icon {
                color: white;
                @include media($gtHiDefMobile) {
                    display: none;
                }
            }
            .responsive {
                @include media($hiDefMobile) {
                    flex-direction: column;
                    justify-content: flex-start;
                    background-color: $headerColor;
                    padding-right: 0.25em;
                    padding-bottom: 0.25em;
                    margin-top: 0.5em;
                    .icon {
                        position: relative;
                        display: inline-block;
                        align-self: flex-start;
                    }
                    li {
                        float: none;
                        display: inline;
                        &:not(.icon) {
                            margin-top: 3.25em;
                        }
                        a {
                            display: block;
                        }
                    }
                }
            }
            .bar-on-right {
                border-right: 2px solid white;
                padding-right: 0.25em;
            }
            #about {
                cursor: pointer;
                display: inline;
            }
            #projects {
                margin-left: 0.5em;
                cursor: pointer;
                display: inline;
            }
        }
    }
}

main {
    .spaceDiv {
        height: $headerContainerHght - 4em;
        width: 100%;
        visibility: hidden;
    }
    #spaceDivTop {
        height: $headerContainerHght - 3em;
    }
    #spaceDivSkills {
        height: $headerContainerHght - 3em;
    }
    #staticH2 {
        text-align: center;
        font-size: 3.5em;
        @include media($hiDefMobile) {
            font-size: 2.75em;
        }
        @include media($mobile) {
            font-size: 1.9em;
        }
    }
    #about {
        padding: 5em 0 2.5em 0;
        #about-header {
            display: flex;
            flex-direction: column;
            height: em(300px);
        }
        #head-img {
            width: 8.2em;
            height: 6.9em;
            margin: auto;
        }
    }
    #info-div {
        padding: 3em;
        width: 100%;
        @include outer-container;
        .info {
            margin: 2em 0;
            @include span-columns(12);
            @include media($gtDesktop) {
                @include span-columns(4);
                @include omega(3n);
            }
            // this is a fix to make it look good on my Galaxy S5
            @include media($hiDefMobile) {
                @include media($gtHiDefMobileHeight) {
                    p {
                        font-size: 1.5em;
                    }
                }
            }
        }
        .info-header {
            margin-left: auto;
            clear: both;
        }
        .med-logo {
            width: 1.2em;
            height: 1.2em;
            float: left;
            margin: 0.25em 0.5em -0.25em 10%;
            @include media($gtMobile) {
                width: 2em;
                height: 2em;
            }
        }
        .infoH4 {
            font-size: 1.3em;
            padding-top: 0.1em;
            @include media($gtMobile) {
                font-size: 2em;
                padding-bottom: 0.2em;
            }
        }
    }
    #skillset {
        width: 100%;
        margin: 3em 0 2em 0;
        #skillset-header {
            margin-bottom: 2em;
            text-align: center;
            
        }
    }
    #projects {
        width: 100%;
        padding: 0 2em;
        @include outer-container;
        .project {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 4em;
            @include span-columns(7);
            @include omega(1n);
            @include shift(2);
        }
        .project-header {
            display: flex;
            flex-direction: column;
            height: 17em;
            @include media($gtDesktop) {
                margin-left: auto;
                flex-direction: row;
                height: 12em;
            }
            h5 {
                margin: auto;
                position: relative;
                left: 2%;
                width: 5em;
                height: 2em;
                font-size: 1.75em;
                @include media($gtDesktop) {
                    top: -35%;
                    left: 27%;
                    font-size: 2em;
                }
            }
            .project-image {
                width: 15em;
                height: 10em;
                margin: auto;
                border: 1px solid black;
                position: relative;
                left: 2%;
                @include media ($gtDesktop) {
                    position: relative;
                    top: 25%;
                    left: -22%;
                }
            }
        }
        p {
            margin: 3em auto;
            text-align: center;
        }
        .button-container {
            border: 1px solid red;
            display: flex;
            justify-content: center;
            width: 100%;
            @include media($mobile) {
                flex-wrap: wrap;
            }
            button {
                width: 10em;
                margin: 0.5em auto;
                padding: 0.5em 0;
                @include media($smallMobile) {
                    
                }
            }
            .first-button {
                float: left;
            }
            .second-button {
                float: right;
                margin-left: 0.25em;
            }
        }
    }
    .h3Class {
        text-align: center;
        font-size: 2em;
        @include media($gtMobile) {
            font-size: 2.5em;
        }
    }
}

.disappear {
    @include media($mobile) {
        display: none;
    }
}

footer {
    background-color: lighten($baseDarkBlue, 15%);
    margin-top: 1em;
    padding: 2em 1em 1em 1em;
    width: 100%;
    height: 6em;
    @include media($mobile) {
        height: 11em;
    }
    @include media($gtDesktop) {
        height: 5em;
    }
    #foot-container {
        @include outer-container;
    }
    #contact {
        @include shift(3.5);
        @include media($gtDesktop) {
            @include shift(5);
        }
    }
    .small-logo {
        height: 3em;
        width: 3em;
        margin: 0 0.5em 1em 0;
        border-radius: 50%;
        border: none;
        @include media($gtDesktop) {
            height: 2em;
            width: 2em;
        }
    }
}