@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "normalize";
@import "myVariables";
@import "mySkillSet";
@import "myParallax";

* {
    // border: 1px solid red;
}

body {
    background-color: $baseOffWhite;
}

header {
    background-color: darken($baseBlue, 5%);
    margin-top: -1.5em;
    padding: 1em 0 1em 0;
    text-align: center;
    height: $headerHeight;
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1 {
        font-size: 2em;
    }
    a:link {
        color: $white;
    }
    a:hover {
        background-color: darken($baseBlue, 15%);
    }
    a:active {
        background-color: lighten($baseBlue, 10%);
    }
    a:visited {
        color: darken($baseOffWhite, 15%);
    }
    nav {
        font-size: 1.25em;
        padding-top: 0.25em;
        ul {
            display: flex;
            :first-child{
                order: 1;
            }
            :nth-child(2) {
                order: 2;
            }
            :nth-child(3) {
                order: 3;
            }
            :nth-child(4) {
                order: 4;
            }
            :nth-child(5) {
                order: 5;
            }
        }
        li {
            float: right;
            margin-left: 0.25em;
        }
        li:not(.icon) {
            @include media($mobile) {
                display: none;
            }
        }
        .icon {
            display: inline-block;
            @include media($gtMobile) {
                display: none;
            }
        }
        .responsive {
            position: relative;
            @include media($mobile) {
                .icon {
                    position: absolute;
                }
                li {
                    float: none;
                    display: inline;
                    a {
                        display: bl;
                    }
                }
            }
        }
        .bar-on-right {
            border-right: 2px solid white;
            padding-right: 0.25em;
        }
        #about {
            cursor: pointer;
            display: inline;
        }
        #projects {
            margin-left: 0.5em;
            cursor: pointer;
            display: inline;
        }
    }
}

main {
    .spaceDiv {
        height: $spaceDivHght - 4em;
        width: 100%;
        visibility: hidden;
    }
    #spaceDivSkills {
        height: $spaceDivHght - 3em;
    }
    #about {
        padding: 5em 0 2.5em 0;
        #about-header {
            display: flex;
            flex-direction: column;
            height: em(300px);
        }
        h2 {
            text-align: center;
            font-size: 3.5em;
        }
        h3 {
            text-align: center;
            font-size: 3em;
        }
        #head-img {
            width: 8.2em;
            height: 6.9em;
            margin: auto;
        }
    }
    #info-div {
        padding: 3em;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        @include outer-container;
        .info {
            display: flex;
            justify-content: center;
            align-content: center;
            @include span-columns(12);
            @include media($gtDesktop) {
                @include span-columns(4);
                @include omega(3n);
            }
        }
        .info-header {
            width: 100%;
            height: 4em;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            h4 {
                margin: auto 0;
                font-size: 2.75em;
                align-self: flex-start;
            }
            .med-logo {
                margin: auto 0;
                width: 3em;
                height: 3em;
            }
        }
    }
    #skillset {
        width: 100%;
        margin: 3em 0 2em 0;
        display: flex;
        flex-flow: column nowrap;
        #skillset-header {
            height: 4em;
            margin-bottom: 2em;
            text-align: center;
            align-self: center;
            h2 {
                font-size: 3.5em;
            }
        }
    }
    #projects {
        padding: 2em;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        h2 {
            text-align: center;
            font-size: 3.5em;
        }
        .project {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            .project-header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                height: 17em;
                h5 {
                    margin: auto;
                    text-align: center;
                    font-size: 2.5em;
                }
                .project-image {
                    width: 15em;
                    height: 10em;
                    margin: auto;
                    border: 1px solid black;
                }
            }
            .project-body {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-content: space-between;
                p {
                    margin: auto;
                    text-align: center;
                }
                .button-container {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    align-content: space-around;
                    align-items: center;
                    margin-top: 0.75em;
                    button {
                        margin: 0.25em auto;
                        font-size: 1em;
                        width: 12em;
                        height: 3em;
                    }
                }
            }
        }
    }
}

footer {
    background-color: lighten($baseDarkBlue, 15%);
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    .small-logo {
        height: 3em;
        width: 3em;
        margin: 0.25em;
        border-radius: 50%;
        border: none;
    }
}